//sidebar
$menuBg:#3b5e83;
$subMenuBg:#3b5e83;
$menuHover:#3b5e83;
$header-height:60px;
$primary-color:#00A0E9;

$logo-height:30px;
$logo-width:177px;
$logo-wrapper-width:230px;
$bread-margin-bottom:10px;
$menu-width:$logo-wrapper-width;
$menu-font:14px;
